/*global CSS shizzzz*/
body {
    background-color: black;
}

.header {
    font-size: 60px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.4em;
    cursor: pointer;
}

.nav-links {
    font-size: 20px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.1em;
}

/* #record-img {
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
#record-img:hover {
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

} */
/*----------RECORD MOVE---------------*/
#record-img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform 120s linear;
            transition:         transform 120s linear;
  }
#record-img:hover {
    -webkit-transform: rotate(10800deg);
            transform: rotate(10800deg);
  }

/*-----------------------------------*/

/*container that holds record player and album view divs*/
#record-room {
    position: relative;
    width: 500px;
    height: 350px;
    /* border: solid; --just for visualizing-- */
    /* border-color: grey; --just for visualizing-- */
    /* background-color: purple; --just for visualizing-- */
}

    /*album and record overlay*/
    #album-view {
        position: absolute;
        top: 0;
        left: 0p;

    }

    #record-img {
        height: 280px;
        width: 280px;
        position: absolute;
        top: 38px;
        /* left: 112.5px; */
        left: 82px;
        z-index: 1;
    }

    #album-img {
        display: none;
        position: absolute;
        top: 37.5px;
        left: 112.5px;
        z-index: 3;
    }

    /*player and needle and all the beautiful things*/
    #player-img {
        position: absolute;
        top: 25px;
        left: 50px;
        z-index: 0;
    }
/*-----------------------------------*/


#this-album-modal {

}








/*-----------------------------------*/

#band-info{
    color:blue
}