/*----------STYLIN---------------*/
body {
    background-color: black;
}

.header {
    font-size: 60px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.4em;
    cursor: pointer;
}

.nav-links {
    font-size: 20px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.1em;
}

.front-z {
    z-index: 5;
}


/*----------RECORD MOVE---------------*/
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }
  
  .record-spin {
      animation-name:            rotate; 
      animation-duration:        4s; 
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }


    /* #record-img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    #record-img:hover {
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    } */

/*----------NEEDLE MOVE---------------*/

  .needle-start {
    transition: 1s ease-in-out;
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(14deg);
  }

  .needle-play {
    transition: 5s linear;
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(35deg);
  }

/*---------PLAYER IMAGES---------------*/

    #record-room {
        position: relative;
        height: 700px;
    }

    #record-img {
        visibility: hidden;
        position: absolute;
        top: 38px;
        /* left: 112.5px; */
        left: 82px;
        z-index: 1;
    }

    #album-img {
        display: none;
        position: absolute;
        top: 38px;
        left: 82px;
        z-index: 4;
        width: 520px;
        height: 520px;
    }



    /*player and needle and all the beautiful things*/
    #player-img {
        position: absolute;
        top: 25px;
        left: 50px;
        z-index: 0;
    }

    #needle-img {
        position: absolute;
        top: -375px;
        left: 175px;
        z-index: 3;
    }

    #audio-info {
        z-index: 5;
    }
    



/*----------INFO DIVS--------------*/

    #band-info{
        color:black;
        position: relative;
        font-family: Garamond, Georgia, serif;
    }
    .band-bio-div{
        background-color: yellow;
        text-align: left;
        padding: 50px;
        border-radius:25%;
        margin-left:50px

    }

    #event-info{
        color:black;
        position: relative;
        left:50px;
        font-family: Garamond, Georgia, serif;
        
    }
    .events-in-town{
        background-color: yellow;
        text-align:left;
        padding:50px;
        margin-left:25px;
        border-radius: 25%;
        
       
        
    }
    .headerr{
        color: blue;
        font-family: Garamond, Georgia, serif;
    }

    #merch-info{
        color:black;
        position: relative;
        
        
    }


/*------------MODALS---------------*/


#this-album-modal {

}



