/*----------STYLIN---------------*/
body {
    background-color: black;
}

.header {
    font-size: 60px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.4em;
    cursor: pointer;
}

.nav-links {
    font-size: 20px;
    padding: 0;
    font-family: Garamond, Georgia, serif;
    letter-spacing: 0.1em;
}

.front-z {
    z-index: 5;
}

.ctrl-btn {
    color: grey;
}


/*----------RECORD MOVE---------------*/
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }
  
  .record-spin {
      animation-name:            rotate; 
      animation-duration:        4s; 
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }

/*container that holds record player and album view divs*/
#record-room {
    position: relative;
    height: 700px
    /* border: solid; --just for visualizing-- */
    /* border-color: grey; --just for visualizing-- */
    /* background-color: purple; --just for visualizing-- */
}

    /* #record-img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    }
    #record-img:hover {
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    } */

/*----------NEEDLE MOVE---------------*/

  .needle-start {
    transition: 1s ease-in-out;
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(14deg);
  }

  .needle-play {
    transition: 5s linear;
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(35deg);
  }

/*---------PLAYER IMAGES---------------*/

    #record-room {
        position: relative;
        height: 700px;
    }

    #record-img {
        visibility: hidden;
        position: absolute;
        top: 46px;
        left: 94px;
        z-index: 1;
        width: 500px;
        height: 500px;
    }

    #album-img {
        display: none;
        position: absolute;
        top: 38px;
        left: 82px;
        z-index: 4;
        width: 520px;
        height: 520px;
    }

/* Hover CSS Library -- Grow/Shrink Record and Album */
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }

    .hvr-grow-record {
        display: inline-block;
        vertical-align: middle;
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        transition-duration: 0.3s;
        transition-property: transform;
        transform: scale(1.1);
    }

    .hvr-shrink-record {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    /*player and needle and all the beautiful things*/
    #player-img {
        position: absolute;
        top: 25px;
        left: 50px;
        z-index: 0;
    }

    #needle-img {
        position: absolute;
        top: -375px;
        left: 175px;
        z-index: 3;
    }

    #audio-info {
        z-index: 5;
    }
    
    #event-info{
        color: red
    }
/*-----------------------------------*/



/*----------INFO DIVS--------------*/

    #band-info{
        color:black;
        position: relative;
        font-family: Garamond, Georgia, serif;
    }
    .band-bio-div{
        background-color: yellow;
        text-align: left;
        padding: 50px;
        border-radius:25%;
        margin-left:50px

    }

    #event-info{
        color:black;
        position: relative;
        left:50px;
        font-family: Garamond, Georgia, serif;
        
    }
    .events-in-town{
        background-color: yellow;
        text-align:left;
        padding:50px;
        margin-left:25px;
        border-radius: 25%;
        
       
        
    }
    .headerr{
        color: blue;
        font-family: Garamond, Georgia, serif;
    }

    
    


/*------------MODALS---------------*/


#this-album-modal {

}



